body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
}

.navbar {
    background: #1e3a8a;
    color: white;
    padding: 15px;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #1e3a8a;
    color: white;
    border: none;
}

.step {
    background: #eef2ff;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #1e3a8a;
}
